# Host name (or IP address) of MySQL server e.g localhost
DBHOST=localhost

#daemon port
DBPORT="27017"

# Collections name list to include e.g. system.profile users
# DBNAME is required
# Unecessary if backup all collections
# COLLECTIONS=""

# Collections to exclude e.g. system.profile users
# DBNAME is required
# Unecessary if backup all collections
# EXCLUDE_COLLECTIONS=""

# Username to access the mongo server e.g. dbuser
# Unnecessary if authentication is off
# DBUSERNAME=""

# Password to access the mongo server e.g. password
# Unnecessary if authentication is off
# DBPASSWORD=""

# Database for authentication to the mongo server e.g. admin
# Unnecessary if authentication is off
# DBAUTHDB=""

# Backup directory location e.g /backups
BACKUPDIR="/var/backups/mongodb"

# Backup data from secondary replica set
REPLICAONSLAVE=yes

# Backup data from secondary replica set connected local
LOCAL_REPLICAONSLAVE=yes

# Nice running level
NICE=20

# Mail setup
# What would you like to be mailed to you?
# - log   : send only log file
# - files : send log file and sql files as attachments (see docs)
# - stdout : will simply output the log to the screen if run manually.
# - quiet : Only send logs if an error occurs to the MAILADDR.
MAILCONTENT="stdoutt"

# Email Address to send mail to? (user@domain.com)
MAILADDR="root"

# How many month keep backups
BACKUP_MONTH=4

# How many weeks keep backups
BACKUP_WEEKS=4

# How many days keep backups
BACKUP_DAYS=5

#параметры для хот бэкапа
DO_HOT_BACKUP=yes
#в случае изменения этой переменной необходимо внести соответствующие изменения в файл etc/mongo-backup.js !!!
HOTBACKUPDIR="/var/backups/mongodb/hot"
